.portlet-boundary_de_olafkock_liferay_osgiconfigurationlisting_portlet_OSGiConfigurationListingPortlet_ {
 td {
	border: 1px solid grey;
	vertical-align: top; 
	padding-right: 1em;
 }
 tr.attributename {
 	font-weight:bold;
 }
 h1, h2 {
 	margin-top: 1em;
 }
}
